<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <h1>Howdy, this is the home page.</h1>
    <h1>The sphere bellow is loaded statically from the server</h1>
    <section class="stage">
        <figure class="ball">
          <span class="shadow"></span>
          <span class="iris"></span>
        </figure>
  </section>
</body>
</html>